*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root {
    --blue:  rgb(0, 140, 255);
    --gray:  rgb(120, 123, 124);
 }

a{
    text-decoration: none;
}

li{
    list-style: none;
}
.main-container{
    height: 100vh;
    font-size: 1.5rem;
    position: relative;
}
